<ul class="social_media_icons">
  <li>
    <a href="https://github.com/eewilcox">
      <i class="fa fa-github"></i>
    </a>
  <li>
    <a href="https://www.linkedin.com/in/emma-wilcox-b0384719">
      <i class="fa fa-linkedin"></i>
    </a>
  </li>
</ul>

<section class="components">
  <section class="profile_details">
    <i class="fa fa-user"></i>
    <h3 class="elements">Profile</h3>
      <div class="profile_pic">
        <img src="/assets/profile_pic.jpg" alt="Profile picture of Emma Wilcox.">
      </div>
      <div class="name_container">
        <h1>Emma Wilcox</h1>
        <h2>Junior Full-Stack Web Developer</h2>
      </div>
      <p class="profile_text">
        Junior full-stack web developer committed to DRY and well documented code on the backend, with a focus on user experience and design on the front end. Previous experience in higher education financial aid administration, with an emphasis on customer service and client management. Detail-oriented with a demonstrated capacity to manage multiple accounts/projects.
      </p>
  </section>

  <section class="profile_details" id="experience_details">
    <section class="experience_details">
      <i class="fa fa-list"></i>
      <h3 class="elements">Resume</h3>

      <h3 class="experience_header">
        <i class="fa fa-chevron-down"></i>
        Projects
      </h3>
      <p class="time">Launch Academy</p>
      <h4>Somerville Tourism Site</h4>
      <h6>
        <a href="http://somerville.herokuapp.com/">
          somerville.herokuapp.com
        </a>
      </h6>
      <ul class="project_bullets">
        <li>
          A personalized tourism site for the city of Somerville where users can explore and plan activities based on neighborhood
        </li>
        <li>
          Randomization gives the user a unique experience each site visit, as authenticated users are provided optional activities that can be saved to custom trips
        </li>
        <li>
          Built in Ruby on Rails for the back end with a joint Rails/React front end; PostgreSQL database stores and supplies
        </li>
        <li>
          Additional technologies include Foundation, Devise, RSpec and Capybara
        </li>
      </ul>

      <p class="time">Launch Academy</p>
      <h4>SoleMate</h4>
      <h6>
        <a href="http://solemate.herokuapp.com/">
          solemate.herokuapp.com
        </a>
      </h6>
      <ul id="last_project" class="project_bullets">
        <li>
          Review site where authenticated users can browse, post, and search for shoes, as well as contribute and vote on reviews
        </li>
        <li>
          Full authorization is given to admin users, and special features include the ability to upload photos and send emails
        </li>
        <li>
          Collaborative group project integrating React into a Ruby on Rails web app and utilizing Fetch with a PostgreSQL database, Foundation with custom CSS on front end, and a testing suite using RSpec and Capybara
        </li>
        <li>
          Additional technologies include Devise, CarrierWave, and Sendgrid
        </li>
      </ul>

      <h3 class="experience_header">
        <i class="fa fa-chevron-down"></i>
        Experience
      </h3>
      <div class="professional_experience">
        <p class="time">2016 – 2017</p>
        <p class="location">Boston, MA</p>
        <h4>Launch Academy</h4>
        <h6>Junior Full-Stack Web Developer</h6>
        <ul>
          <li>
            Developed the critical programming skills required to become an active contributor of a software engineering team by attending a full-time immersive coding bootcamp in web development
          </li>
          <li>
            Proficient in current and best development practices, utilizing pair programming, Agile methodologies, continuous integrations and test-driven development
          </li>
        </ul>
        <p class="time">2011 - 2016</p>
        <p class="location">Cambridge, MA</p>
        <h4>
          Massachusettes Institute of Technology
        </h4>
        <h6>Senior Assistant Director of Financial Aid</h6>
        <ul>
          <li>
            Managed a caseload of over 700 students, ensuring access and affordability for current and prospective students</li>
          <li>
            Determined financial aid eligibility and counseled students and families in applying for, appealing, and receiving federal and institutional financial aid
          </li>
          <li>
            Conducted analysis of and collaborated on the formulation of financial aid policies and procedures
          </li>
          <li>
            Maintained, updated, and created budgets, and instruction/training manuals
          </li>
        </ul>
        <p class="time">2009 – 2011</p>
        <p class="location">Boston, MA</p>
        <h4>Wentworth Institute of Technology</h4>
        <h6>Financial Aid Counselor</h6>
        <ul>
          <li>
            Counseled students and families in applying for and receiving federal, institutional, and private financial aid, and loans
          </li>
          <li>
            Conducted verifications and made professional judgments in compliance with federal regulations
          </li>
          <li>
            Managed the endowment scholarship application and awarding process
          </li>
        </ul>
        <h6>Student Service Representative</h6>
        <ul id="last_employment">
          <li>
            Represented the offices of Financial Aid, Financial Services, International Services, and the Registrar
          </li>
          <li>
            Facilitated the daily functioning of the Student Service Center by reviewing student budgets and information and responding to voice mail, faxes, e-mail, and snail mail
          </li>
          <li>
            Counseled and advised on sensitive and confidential information, posted payments, sent invoices, and processed verifications
          </li>
        </ul>
      <h3 class="experience_header">
        <i class="fa fa-chevron-down"></i>
        Education
      </h3>

      <p class="time">Poughkeepsie, NY</p>
      <h4>Vassar College</h4>
      <h6>Bachelor of Arts in Sociology with a Correlate in Geography</h6>
      </div>
    </section>
  </section>

  <section class="profile_details" id="skill_details">
    <section class="skill_details">

      <h5>Programming Languages</h5>
      <ul id="programming_skills">
        <li>
          <p>Ruby</p>
          <div class="skill">
            <span class="skill_level"
            style="width: 90%; background-color: #765c92">90%</span>
          </div>
        </li>
        <li>
          <p>Python</p>
          <div class="skill">
            <span class="skill_level"
            style="width: 83%; background-color: #e37b40">83%</span>
          </div>
        </li>
        <li>
          <p>JavaScript</p>
          <div class="skill">
            <span class="skill_level"
            style="width: 80%; background-color: #46b29d">80%</span>
          </div>
        </li>
        <li>
          <p>HTML</p>
          <div class="skill">
            <span class="skill_level"
            style="width: 100%; background-color: #de5b49">100%</span>
          </div>
        </li>
        <li>
          <p>CSS</p>
          <div class="skill">
            <span class="skill_level"
            style="width: 85%; background-color: #5c8da8">85%</span>
          </div>
        </li>
        <li>
          <p>SQL</p>
          <div class="skill">
            <span class="skill_level"
            style="width: 70%; background-color: #b09439">70%</span>
          </div>
        </li>
      </ul>
      <h5>Software/Tools</h5>
      <ul id="methodologies">
        <li>
          <p>Rails</p>
          <span class="indicators" style="color: #765c92">
            <i class="fa fa-check-square-o" aria-hidden="true"></i>
            <i class="fa fa-check-square-o" aria-hidden="true"></i>
            <i class="fa fa-check-square-o" aria-hidden="true"></i>
            <i class="fa fa-check-square-o" aria-hidden="true"></i>
            <i class="fa fa-check-square-o" aria-hidden="true"></i>
          </span>
        </li>
        <li>
          <p>React.js</p>
          <span class="indicators" style="color: #e37b40">
            <i class="fa fa-check-square-o" aria-hidden="true"></i>
            <i class="fa fa-check-square-o" aria-hidden="true"></i>
            <i class="fa fa-check-square-o" aria-hidden="true"></i>
            <i class="fa fa-check-square-o" aria-hidden="true"></i>
            <i class="fa fa-check-square-o" aria-hidden="true"></i>
        </span>
        </li>
        <li>
          <p>PostgresSQL</p>
          <span class="indicators" style="color: #46b29d">
            <i class="fa fa-check-square-o" aria-hidden="true"></i>
            <i class="fa fa-check-square-o" aria-hidden="true"></i>
            <i class="fa fa-check-square-o" aria-hidden="true"></i>
            <i class="fa fa-check-square-o" aria-hidden="true"></i>
            <i class="fa fa-square-o" aria-hidden="true"></i>
        </span>
        </li>
        <li>
          <p>Git/GitHub</p>
          <span class="indicators" style="color: #b09439">
            <i class="fa fa-check-square-o" aria-hidden="true"></i>
            <i class="fa fa-check-square-o" aria-hidden="true"></i>
            <i class="fa fa-check-square-o" aria-hidden="true"></i>
            <i class="fa fa-check-square-o" aria-hidden="true"></i>
            <i class="fa fa-square-o" aria-hidden="true"></i>
        </span>
        </li>
        <li>
          <p>RSpec and Capybara</p>
          <span class="indicators" style="color: #5c8da8">
            <i class="fa fa-check-square-o" aria-hidden="true"></i>
            <i class="fa fa-check-square-o" aria-hidden="true"></i>
            <i class="fa fa-check-square-o" aria-hidden="true"></i>
            <i class="fa fa-square-o" aria-hidden="true"></i>
            <i class="fa fa-square-o" aria-hidden="true"></i>
        </span>
        </li>
      </ul>
    </section>
  </section>
</section>
